body{
    background-color: black;
}
h1 {
    color: aliceblue;
    text-align: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif
    
}
p{
    color: fuchsia;
    text-align: center;
    font-size: small;
    font-family: 'Times New Roman', Times, serif
}
